@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
input::-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}
input:-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}
input:-ms-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}
input:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.6s ease;
}
input:focus::-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.6s ease;
}
input:focus:-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.6s ease;
}
input:focus:-ms-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.6s ease;
}
.md-perspective,
.md-perspective body {
  height: 100%;
  overflow: hidden;
}
.md-perspective body {
  background: #222;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
}
.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.md-show {
  visibility: visible;
}
.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(43,43,43,0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}
.md-content {
  color: #333;
  background: #FFFFFF;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
}
.md-content h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
  font-size: 2.4em;
  font-weight: 300;
  opacity: 0.8;
  background: #FED100;
  border-radius: 3px 3px 0 0;
}
.md-content > div {
  padding: 15px 40px 30px;
  margin: 0;
  font-weight: 400;
  font-size: 1.15em;
}
.md-content > div p {
  margin: 0;
  padding: 10px 0;
}
.md-content > div ul {
  margin: 0;
  padding: 0 0 30px 20px;
}
.md-content > div ul li {
  padding: 5px 0;
}
.md-content .inpb {
  width: 300px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(51,51,51,0.7);
  margin-left: 25px;
}
.md-content .inpb input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  height: 50px;
}
.md-content .ibtn .check {
  margin-left: 190px;
}
.md-content button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 304px;
  height: 60px;
  background: #FF352B;
  font-weight: 600;
  font-size: 24px;
  color: #F2F2F2;
  cursor: pointer;
  outline: none;
  margin: 45px 0px 15px 187px;
}
.md-content .md-close {
  display: none;
}
.md-effect-1 .md-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show.md-effect-1 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.md-effect-2 .md-content {
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25,0.5,0.5,0.9);
  -moz-transition: all 0.3s cubic-bezier(0.25,0.5,0.5,0.9);
  transition: all 0.3s cubic-bezier(0.25,0.5,0.5,0.9);
}
.md-show.md-effect-2 .md-content {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
.md-effect-3 .md-content {
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show.md-effect-3 .md-content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.md-effect-4 .md-content {
  -webkit-transform: scale(0) rotate(720deg);
  -moz-transform: scale(0) rotate(720deg);
  -ms-transform: scale(0) rotate(720deg);
  transform: scale(0) rotate(720deg);
  opacity: 0;
}
.md-show.md-effect-4 ~ .md-overlay,
.md-effect-4 .md-content {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.md-show.md-effect-4 .md-content {
  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  opacity: 1;
}
.md-effect-5.md-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.md-effect-5 .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(600px) rotateX(20deg);
  -moz-transform: translateZ(600px) rotateX(20deg);
  -ms-transform: translateZ(600px) rotateX(20deg);
  transform: translateZ(600px) rotateX(20deg);
  opacity: 0;
}
.md-show.md-effect-5 .md-content {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: translateZ(0px) rotateX(0deg);
  -moz-transform: translateZ(0px) rotateX(0deg);
  -ms-transform: translateZ(0px) rotateX(0deg);
  transform: translateZ(0px) rotateX(0deg);
  opacity: 1;
}
.md-effect-6.md-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.md-effect-6 .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate(30%) translateZ(600px) rotate(10deg);
  -moz-transform: translate(30%) translateZ(600px) rotate(10deg);
  -ms-transform: translate(30%) translateZ(600px) rotate(10deg);
  transform: translate(30%) translateZ(600px) rotate(10deg);
  opacity: 0;
}
.md-show.md-effect-6 .md-content {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: translate(0%) translateZ(0) rotate(0deg);
  -moz-transform: translate(0%) translateZ(0) rotate(0deg);
  -ms-transform: translate(0%) translateZ(0) rotate(0deg);
  transform: translate(0%) translateZ(0) rotate(0deg);
  opacity: 1;
}
.md-effect-7 {
  top: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.md-effect-7 .md-content {
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  opacity: 0;
}
.md-show.md-effect-7 .md-content {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  border-radius: 0 0 3px 3px;
  opacity: 1;
}
.md-effect-8.md-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.md-effect-8 .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-70deg);
  -moz-transform: rotateY(-70deg);
  -ms-transform: rotateY(-70deg);
  transform: rotateY(-70deg);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.md-show.md-effect-8 .md-content {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 1;
}
.md-effect-9.md-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.md-effect-9 .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-70deg);
  -moz-transform: rotateX(-70deg);
  -ms-transform: rotateX(-70deg);
  transform: rotateX(-70deg);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.md-show.md-effect-9 .md-content {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}
.md-effect-10.md-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.md-effect-10 .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-60deg);
  -moz-transform: rotateX(-60deg);
  -ms-transform: rotateX(-60deg);
  transform: rotateX(-60deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show.md-effect-10 .md-content {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}
.md-effect-11 .md-content {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show.md-effect-11 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.md-effect-12 .md-content {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show.md-effect-12 ~ .md-overlay {
  background: #e74c3c;
}
.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
  background: transparent;
}
.md-show.md-effect-12 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.md-effect-13.md-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.md-effect-13 .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-3000px) rotateY(90deg);
  -moz-transform: translateZ(-3000px) rotateY(90deg);
  -ms-transform: translateZ(-3000px) rotateY(90deg);
  transform: translateZ(-3000px) rotateY(90deg);
  opacity: 0;
}
.md-show.md-effect-13 .md-content {
  -webkit-animation: slit .7s forwards ease-out;
  -moz-animation: slit .7s forwards ease-out;
  animation: slit .7s forwards ease-out;
}
@-webkit-keyframes slit {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(89deg);
    opacity: .5;
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0deg);
    opacity: 1;
  }
}
@-moz-keyframes slit {
  50% {
    -moz-transform: translateZ(-250px) rotateY(89deg);
    opacity: .5;
    -moz-animation-timing-function: ease-out;
  }
  100% {
    -moz-transform: translateZ(0) rotateY(0deg);
    opacity: 1;
  }
}
@keyframes slit {
  50% {
    transform: translateZ(-250px) rotateY(89deg);
    opacity: 1;
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateZ(0) rotateY(0deg);
    opacity: 1;
  }
}
.md-effect-14.md-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.md-effect-14 .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateY(100%) rotateX(90deg);
  -moz-transform: translateY(100%) rotateX(90deg);
  -ms-transform: translateY(100%) rotateX(90deg);
  transform: translateY(100%) rotateX(90deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  transform-origin: 0 100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.md-show.md-effect-14 .md-content {
  -webkit-transform: translateY(0%) rotateX(0deg);
  -moz-transform: translateY(0%) rotateX(0deg);
  -ms-transform: translateY(0%) rotateX(0deg);
  transform: translateY(0%) rotateX(0deg);
  opacity: 1;
}
.md-effect-15.md-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.md-effect-15 .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  -moz-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  -ms-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  transform-origin: 0 100%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show.md-effect-15 .md-content {
  -webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
  -moz-transform: translateZ(0px) translateX(0%) rotateY(0deg);
  -ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
  transform: translateZ(0px) translateX(0%) rotateY(0deg);
  opacity: 1;
}
.md-show.md-effect-16 ~ .md-overlay {
  background: rgba(180,46,32,0.5);
}
.md-show.md-effect-16 ~ .container {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);
}
.md-effect-16 .md-content {
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  transform: translateY(-5%);
  opacity: 0;
}
.md-show.md-effect-16 ~ .container,
.md-effect-16 .md-content {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show.md-effect-16 .md-content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.md-show.md-effect-17 ~ .container {
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.md-show.md-effect-17 ~ .container,
.md-show.md-effect-17 ~ .md-overlay {
  -webkit-transform: rotateX(-2deg);
  -moz-transform: rotateX(-2deg);
  -ms-transform: rotateX(-2deg);
  transform: rotateX(-2deg);
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.md-effect-17 .md-content {
  opacity: 0;
  -webkit-transform: translateY(200%);
  -moz-transform: translateY(200%);
  -ms-transform: translateY(200%);
  transform: translateY(200%);
}
.md-show.md-effect-17 .md-content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 0.3s 0.2s;
  -moz-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
}
.md-show.md-effect-18 ~ .container {
  height: 100%;
  overflow: hidden;
}
.md-show.md-effect-18 ~ .md-overlay {
  background: rgba(143,27,15,0.8);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.md-show.md-effect-18 ~ .container,
.md-show.md-effect-18 ~ .md-overlay {
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  -webkit-animation: rotateRightSideFirst 0.5s forwards ease-in;
  -moz-transform-style: preserve-3d;
  -moz-transform-origin: 0% 50%;
  -moz-animation: rotateRightSideFirst 0.5s forwards ease-in;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  animation: rotateRightSideFirst 0.5s forwards ease-in;
}
@-webkit-keyframes rotateRightSideFirst {
  50% {
    -webkit-transform: translateZ(-50px) rotateY(5deg);
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateZ(-200px);
  }
}
@-moz-keyframes rotateRightSideFirst {
  50% {
    -moz-transform: translateZ(-50px) rotateY(5deg);
    -moz-animation-timing-function: ease-out;
  }
  100% {
    -moz-transform: translateZ(-200px);
  }
}
@keyframes rotateRightSideFirst {
  50% {
    transform: translateZ(-50px) rotateY(5deg);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateZ(-200px);
  }
}
.md-effect-18 .md-content {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
  opacity: 0;
}
.md-show.md-effect-18 .md-content {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -webkit-transition: all 0.5s 0.1s;
  -moz-transition: all 0.5s 0.1s;
  transition: all 0.5s 0.1s;
}
.md-show.md-effect-19 ~ .container {
  height: 100%;
  overflow: hidden;
}
.md-show.md-effect-19 ~ .md-overlay {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.md-show.md-effect-19 ~ .container,
.md-show.md-effect-19 ~ .md-overlay {
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: 50% 100%;
  -webkit-animation: OpenTop 0.5s forwards ease-in;
  -moz-transform-style: preserve-3d;
  -moz-transform-origin: 50% 100%;
  -moz-animation: OpenTop 0.5s forwards ease-in;
  transform-style: preserve-3d;
  transform-origin: 50% 100%;
  animation: OpenTop 0.5s forwards ease-in;
}
@-webkit-keyframes OpenTop {
  50% {
    -webkit-transform: rotateX(10deg);
    -webkit-animation-timing-function: ease-out;
  }
}
@-moz-keyframes OpenTop {
  50% {
    -moz-transform: rotateX(10deg);
    -moz-animation-timing-function: ease-out;
  }
}
@keyframes OpenTop {
  50% {
    transform: rotateX(10deg);
    animation-timing-function: ease-out;
  }
}
.md-effect-19 .md-content {
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  opacity: 0;
}
.md-show.md-effect-19 .md-content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 0.5s 0.1s;
  -moz-transition: all 0.5s 0.1s;
  transition: all 0.5s 0.1s;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: black;
  scroll-behavior: smooth;
}
body a {
  color: black;
}
body .swiper-pagination {
  display: none;
}
h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  margin: 0;
  padding: 0;
  color: #333333;
}
h2 span {
  font-size: 24px;
  display: block;
}
* {
  box-sizing: border-box;
}
.dn {
  display: none;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #FED100;
}
.container {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.fr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.fc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.jb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.jc {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.je {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.vt {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.vc {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.vb {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.itop {
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.icenter {
  -ms-flex-item-align: center;
  align-self: center;
}
.ibottom {
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.anim {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}
.dfc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.tabs__content {
  display: none;
}
.tabs__content.active {
  display: block;
}
#burger-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  right: 0px;
  top: 0px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  width: 44px;
  height: 19px;
  padding: 0;
  z-index: 1;
}
#burger-menu.active .box_item1 {
  -webkit-transform: translateX(0) translateY(8px) rotate(45deg);
  transform: translateX(0) translateY(8px) rotate(45deg);
}
#burger-menu.active .box_item2 {
  opacity: 0;
}
#burger-menu.active .box_item3 {
  -webkit-transform: translateX(0) translateY(-9px) rotate(-45deg);
  transform: translateX(0) translateY(-9px) rotate(-45deg);
}
#burger-menu .box {
  width: 44px;
  height: 2px;
  background: #333333;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}
.show_mobile_menu {
  opacity: 1 !important;
  left: 0 !important;
}
ul#mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}
ul#mobile-menu a {
  text-decoration: none;
}
.center {
  text-align: center;
}
header {
  background: #FED100;
  padding: 35px 0;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .container .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .container .block a.tel {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin-left: 220px;
  opacity: 1;
}
header .container .block a.tel:hover {
  color: white;
  text-decoration: none;
  transition: 0.5s ease-in;
}
header .container .block ul {
  padding-left: 0;
  z-index: 2;
}
header .container .block ul li:not(:last-child) {
  margin-right: 46px;
}
header .container .block ul li a {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}
header .container .block ul li a:hover {
  transition: 0.5s ease;
  border-bottom: 1px solid white;
}
.container {
  position: relative;
}
.container .call-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  position: absolute;
  right: 20px;
  bottom: 48px;
  cursor: pointer;
}
.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.5;
  z-index: 2;
  position: fixed;
  bottom: 50px;
  left: 100px;
  display: none;
  text-indent: -9999px;
  background: url(../img/upp-arr.png) no-repeat;
  transition: all .2s ease-in-out;
}
.scrollup:hover {
  transform: scale(1.1);
}
.sec1 {
  background-color: #FED100;
  background-image: url(../img/sec1.png);
  background-repeat: no-repeat;
  background-position: 84% 52px;
}
.sec1 .block {
  width: 546px;
  position: relative;
  padding-top: 24px;
  padding-bottom: 83px;
  z-index: 1;
}
.sec1 .block .t1 {
  font-weight: bold;
  font-size: 70px;
  line-height: 72px;
  color: #333333;
}
.sec1 .block .t2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #333333;
  margin: 13px 0 48px;
}
.sec1 .block img {
  position: absolute;
  right: -446px;
  bottom: 0;
  z-index: 1;
}
.sec1 .block button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 304px;
  height: 60px;
  background: #FF352B;
  position: relative;
  font-weight: 600;
  font-size: 24px;
  color: #F2F2F2;
  cursor: pointer;
  outline: none;
  border: none;
  transition: transform 1s;
}
.sec1 .block button:hover {
  transform: translate(5px,5px);
}
.sec1 .block button:hover:before {
  display: none;
}
.sec1 .block button:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  border: 2px solid white;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.sec1 .block .t3 {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sec1 .block .t3 .tt1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sec1 .block .t3 .tt1 span {
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin-left: 10px;
}
.sec1 .block .t3 .tt2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sec1 .block .t3 .tt2 span {
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin-left: 10px;
}
.sec1 .block .t3 .tt3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sec1 .block .t3 .tt3 span {
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin-left: 10px;
}
.sec2 {
  padding: 95px 0 45px;
}
.sec2 h2 {
  text-align: center;
}
.sec2 .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1300px;
  margin: 60px auto 0;
}
.sec2 .block .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  z-index: 1;
  color: #333333;
}
.sec2 .block .item:nth-child(-n+2) {
  margin-bottom: 80px;
}
.sec2 .block .item .t1 {
  width: 120px;
  font-weight: 300;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  position: relative;
  flex-shrink: 0;
}
.sec2 .block .item .t1:before {
  color: #fed100;
  width: 100%;
  height: 100%;
  content: attr(data-num);
  position: absolute;
  top: 0;
  left: 3px;
  z-index: -1;
}
.sec2 .block .item .tt1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
}
.sec2 .block .item .tt2 {
  font-size: 16px;
  line-height: 21px;
}
.sec3 {
  padding: 65px 0 67px;
}
.sec3 span {
  margin-top: 10px;
}
.sec3 .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 60px 0 67px;
}
.sec3 .block .item {
  width: 421px;
  border: 1px solid #EBEBEB;
  text-align: center;
  padding: 80px;
  transition-duration: .7s;
}
.sec3 .block .item:hover {
  border: 1px solid #FED100;
  transform: translateY(-20px);
  transition-duration: .7s;
}
.sec3 .block .item .t1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin-bottom: 60px;
}
.sec3 .block .item ul {
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}
.sec3 .block .item ul li {
  padding-bottom: 30px;
}
.sec3 .block .item .t2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  margin-top: 33px;
}
.sec3 .block .item button {
  width: 250px;
  height: 51px;
  margin-top: 52px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background: #FED100;
  cursor: pointer;
  outline: none;
  border: none;
}
.sec3 .block .item button:hover {
  background: #d1b526;
}
.sec4 {
  height: 688px;
}
.sec4 .text {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 21px 0 60px;
}
.sec4 .v {
  display: none;
}
.sec4 .block {
  position: relative;
}
.sec4 .block .item {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.sec4 .block .item .tab {
  width: 201px;
  height: 50px;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}
.sec4 .block .item .tab.active {
  border: 1px solid #FED100;
}
.sec4 .txt {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.sec4 .txt .t1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 37px;
  margin-top: 86px;
}
.sec4 .txt .t2 {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sec4 .txt .t2 .t3 {
  font-size: 16px;
  line-height: 21px;
  padding-bottom: 28px;
}
.sec4 .txt .t2 .t3 img {
  padding-right: 16px;
}
.sec4 .txt button {
  width: 250px;
  height: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  background: #FED100;
  cursor: pointer;
  outline: none;
  border: none;
}
.sec4 .pagin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  top: 51%;
  width: 95%;
  margin-left: 37px;
  flex-direction: row-reverse;
}
.sec4 .pagin .truck-next,
.sec4 .pagin .truck-prev {
  outline: none;
  cursor: pointer;
}
.sec4 .truck-slider {
  overflow-x: hidden;
  width: 1000px;
  margin: 0 auto;
}
.sec4 .truck-slider .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sec4 .truck-slider .swiper-slide .img {
  width: 641px;
}
.sec4 .truck-slider .swiper-slide .img img {
  width: 100%;
  padding-top: 35px;
}
.sec4 .truck-slider .swiper-slide .img p,
.sec4 .truck-slider .swiper-slide .img button {
  display: none;
}
.sec5 {
  background: #FED100;
  padding: 100px 0 94px;
}
.sec5 h2 {
  text-align: center;
}
.sec5 .show-more {
  width: 250px;
  height: 50px;
  margin: 60px auto 0;
  border: 1px solid #333333;
  font-weight: 500;
  font-size: 20px;
  background: transparent;
  color: #333333;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  outline: none;
  position: relative;
}
.sec5 .show-more:after {
  content: '';
  height: 6px;
  background: rgba(0,0,0,0.4);
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}
.sec5 .show-more:hover:after {
  content: '';
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: .8s linear;
}
.sec5 .block {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sec5 .block .item {
  width: 420px;
}
.sec5 .block .item .name {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}
.sec5 .block .item .t2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 19px;
}
.sec5 .block .item .t2 .date {
  font-size: 16px;
  line-height: 21px;
  margin-right: 9px;
  color: #333333;
}
.sec5 .block .item .t3 p {
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}
.sec5 .block .item button {
  border: none;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  cursor: pointer;
  text-decoration: underline;
  background: transparent;
  padding: 0;
  outline: none;
}
.sec6 {
  padding: 100px 0;
}
.sec6 .container {
  width: 1250px;
  margin-top: 26px;
}
.sec6 .container h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 12px;
  padding-left: 3px;
}
.sec6 .container h2 br {
  display: none;
}
.sec6 .container .t1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}
.sec6 .container .form {
  width: 1250px;
  margin: 33px auto;
}
.sec6 .container .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sec6 .container .form form .inpb {
  width: 300px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(51,51,51,0.7);
}
.sec6 .container .form form .inpb input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  height: 50px;
}
.sec6 .container .form form button {
  background: #FF352B;
  position: relative;
  color: #F2F2F2;
  cursor: pointer;
  outline: none;
  width: 250px;
  height: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  border: none;
}
.sec6 .container .form form button:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  border: 1px solid #FED100;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.sec6 .container .form form .check {
  padding-top: 24px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #333333;
}
.sec6 .container .form form .check input {
  width: 15px;
  height: 15px;
}
.sec6 .container .form form .check label {
  padding-left: 5px;
  cursor: pointer;
}
.sec6 .container .form form .ibtn {
  padding-right: 9px;
}
.sec7 {
  position: relative;
  min-height: 666px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.sec7 .container {
  pointer-events: none;
  position: relative;
}
.sec7 iframe {
  position: absolute;
  top: 0;
  width: 100% !important;
  height: 100%;
}
.sec7 .block {
  width: 368px;
  height: 326px;
  background: #FFFFFF;
  pointer-events: all;
  margin: 136px;
}
.sec7 .block .logo {
  padding-top: 25px;
  padding-left: 38px;
}
.sec7 .block .item {
  list-style: none;
  margin-top: 45px;
}
.sec7 .block .item li {
  padding-bottom: 21px;
}
.sec7 .block .item img {
  padding-right: 12px;
}
.sec7 .block .item .tel {
  cursor: pointer;
  text-decoration: none;
}
.sec7 .block .social {
  display: flex;
  justify-content: flex-end;
  padding-top: 13px;
  margin-right: 17px;
}
.sec7 .block .social a {
  padding-right: 24px;
}
footer {
  width: 100%;
  height: 401px;
  background: #FED100;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  opacity: 0.7;
}
footer .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .item1 {
  height: 215px;
  flex-direction: column;
  display: flex;
  font-size: 16px;
  line-height: 130%;
  color: #0E0F12;
}
footer .container .item1 a {
  padding-top: 46px;
}
footer .container .item2 {
  height: 215px;
  flex-direction: column;
  display: flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}
footer .container .item2 a {
  padding-bottom: 16px;
}
footer .container .item3 {
  height: 215px;
  flex-direction: column;
  display: flex;
}
footer .container .item3 .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
footer .container .item3 a {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  text-decoration: underline;
}
footer .container .item4 {
  text-align: center;
  height: 215px;
  flex-direction: column;
  display: flex;
}
footer .container .item4 button {
  width: 250px;
  height: 44px;
  border: 1px solid #333333;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  background: transparent;
  position: relative;
}
footer .container .item4 button:after {
  content: '';
  height: 6px;
  background: rgba(0,0,0,0.4);
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}
footer .container .item4 button:hover:after {
  content: '';
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: .8s linear;
}
footer .container .item4 button .b {
  display: none;
}
footer .container .item4 .tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  text-decoration: underline;
}
form .inpb label.error {
  display: none !important;
}
form .inpb input.error {
  border-color: red !important;
}
form .ibtn label.error {
  display: none !important;
}
@media (min-width: 992px) and (max-width: 1299px) {
  .container {
    width: 970px !important;
  }
  header .container .block a.tel {
    margin-left: 116px;
  }
  .sec1 .block img {
    height: 580px;
  }
  .container .call-btn {
    z-index: 2;
  }
  body,
  section,
  footer {
    width: 100% !important;
    overflow-x: hidden;
  }
  .sec2 .block {
    width: 100%;
  }
  .sec2 .block .item {
    width: 49%;
    margin-bottom: 65px;
  }
  .sec3 .block {
    width: 100%;
    flex-wrap: wrap;
  }
  .sec3 .block .item {
    width: 47%;
    margin: 20px auto;
  }
  .sec4 .swiper-pagination {
    display: none;
  }
  .sec4 .truck-slider .swiper-slide {
    width: 100%;
  }
  .sec4 .pagin {
    width: 105%;
    margin-left: -24px;
    z-index: 2;
  }
  .sec5 .block .item {
    width: 40%;
    margin: 22px auto;
  }
  .sec6 .container h2 {
    padding-left: 0px;
  }
  .sec6 .container h2 br {
    display: none;
  }
  .sec6 .container .form {
    width: 100%;
  }
  .sec6 .container .form form {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .sec6 .container .form form .inpb {
    width: 36%;
    margin-bottom: 40px;
  }
  .sec6 .container .form form .ibtn {
    padding-right: 95px;
  }
  .sec7 iframe {
    width: 100%;
  }
  .sec7 .block {
    width: 345px;
    height: 290px;
    margin: 0px 30px -290px;
  }
  footer .container .item3 .icon {
    padding-bottom: 20px;
  }
  footer .container .item4 .tel {
    padding-top: 20px;
  }
  .md-content button {
    margin: 45px 0px 15px 24px;
  }
  .md-content .ibtn .check {
    margin-left: 23px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sec1 {
    background-position: 130% 52px;
  }
  .sec1 .block {
    width: 465px;
  }
  .sec1 .block .t3 .tt1 span,
  .sec1 .block .t3 .tt2 span,
  .sec1 .block .t3 .tt3 span {
    font-size: 14px;
  }
  .sec1 .block > img {
    right: -284px;
    width: 300px;
  }
  .sec2 {
    padding: 95px 0px 0px;
  }
  .sec2 h2 {
    padding: 30px;
  }
  .sec2 .block {
    width: 100%;
  }
  .sec2 .block .item {
    width: 49%;
    margin-bottom: 80px;
  }
  .sec3 {
    padding: 30px 0 30px;
  }
  .sec3 .block {
    flex-wrap: wrap;
  }
  .sec3 .block .item {
    width: 47%;
    margin: 15px auto;
    padding: 40px;
  }
  .sec3 .block .item button {
    width: 100%;
  }
  .sec4 .txt .t1 {
    font-weight: 600;
    font-size: 23px;
  }
  .sec4 .pagin {
    top: 59%;
    width: 100%;
    margin-left: 0px;
    z-index: 3;
  }
  .sec4 .swiper-pagination {
    display: none;
  }
  .sec4 .truck-slider {
    width: 100%;
  }
  .sec4 .truck-slider .swiper-slide {
    padding: 0 30px;
  }
  .sec4 .truck-slider .swiper-slide .img img {
    padding-top: 90px;
  }
  .sec5 .block {
    margin: 18px;
  }
  .sec5 .block .item {
    width: 45%;
    margin: 25px auto;
  }
  .sec6 .container {
    margin-top: 0px;
  }
  .sec6 .container .form {
    width: 100%;
    margin: 33px auto;
  }
  .sec6 .container .form form {
    flex-wrap: wrap;
  }
  .sec6 .container .form form .inpb {
    width: 45%;
    padding-bottom: 33px;
  }
  .sec6 .container .form form .ibtn {
    padding-right: 0px;
    width: 45%;
  }
  .sec6 .container h2 {
    justify-content: flex-start;
    padding-left: 0px;
  }
  .sec6 .container h2 br {
    display: none;
  }
  .sec6 .container .t1 {
    justify-content: flex-start;
  }
  .sec7 iframe {
    width: 100%;
  }
  .sec7 .container {
    bottom: -198px;
  }
  .sec7 .block {
    width: 310px;
    height: 250px;
    margin: 0px;
  }
  .sec7 .block .logo {
    padding-top: 25px;
    padding-left: 16px;
  }
  .sec7 .block .item {
    margin-top: 18px;
    padding-left: 14px;
  }
  .sec7 .block .social {
    justify-content: space-evenly;
    padding-top: 0px;
    margin-right: 0px;
  }
  footer {
    height: 425px;
  }
  footer .container {
    height: 100%;
    flex-wrap: wrap;
  }
  footer .container .item1,
  footer .container .item2,
  footer .container .item3,
  footer .container .item4 {
    height: auto;
    width: 50%;
    align-items: center;
  }
  footer .container .item3 .icon {
    padding-bottom: 20px;
  }
  footer .container .item4 .tel {
    padding-top: 16px;
  }
  .md-content > div {
    padding: 15px 40px 20px;
    text-align: center;
  }
  .md-content .inpb {
    margin: 0px;
  }
  .md-content .ibtn {
    margin-top: 40px;
  }
  .md-content .ibtn button {
    margin: 0px;
  }
  .md-content .ibtn .check {
    margin-left: 0px;
    margin-top: 20px;
  }
  .container {
    width: 750px !important;
  }
  header .container .block a.tel {
    font-size: 18px;
    margin-left: 45px;
  }
  header .container .block ul li:not(:last-child) {
    margin-right: 20px;
  }
  .call-btn {
    display: none !important;
  }
  body,
  section,
  footer {
    width: 100% !important;
    overflow-x: hidden;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .md-content > div {
    padding: 15px 8px 0px;
    margin-left: 0px;
  }
  .md-content .inpb {
    margin-left: 0px;
  }
  .md-content .ibtn .check {
    margin-left: 0px;
  }
  .md-content button {
    margin: 40px 0px 18px 0px;
  }
  .sec1 {
    background-image: none;
    padding-top: 79px;
  }
  .sec1 .block {
    width: 100%;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 25px;
  }
  .sec1 .block .t3 {
    flex-direction: column;
    margin-top: 30px;
    padding: 0 15px;
  }
  .sec1 .block .t3 .tt1,
  .sec1 .block .t3 .tt2,
  .sec1 .block .t3 .tt3 {
    margin: 15px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
  }
  .sec1 .block .t3 .tt1 svg,
  .sec1 .block .t3 .tt2 svg,
  .sec1 .block .t3 .tt3 svg {
    width: 70px;
  }
  .sec1 .block .t3 .tt1 span br,
  .sec1 .block .t3 .tt2 span br,
  .sec1 .block .t3 .tt3 span br {
    display: none;
  }
  .sec1 .block .t1 {
    font-size: 38px;
    line-height: 45px;
  }
  .sec1 .block .t2 {
    font-size: 20px;
    line-height: 24px;
    margin: 14px 0 46px;
  }
  .sec1 .block > img {
    position: relative;
    right: 0;
    margin-top: -74px;
    width: 248px;
    margin-bottom: -4px;
  }
  .sec1 .block button {
    width: 100%;
    height: 60px;
    max-width: 292px;
    margin: 0 auto;
  }
  .sec1 .block button:before {
    display: none;
  }
  .call-btn {
    display: none !important;
  }
  header {
    position: fixed;
    z-index: 2;
    padding: 26px 0;
    top: 0;
    left: 0;
    width: 100%;
  }
  #burger-menu {
    display: flex !important;
  }
  header,
  section,
  footer {
    width: 100% !important;
    overflow-x: hidden;
  }
  .container {
    width: 320px;
    max-width: 320px;
  }
  header .container {
    position: relative;
  }
  header .container .block {
    display: none;
  }
  header .container.active {
    flex-direction: column;
    align-items: flex-start;
  }
  header .container.active .block {
    display: block !important;
    height: calc(100vh - 79px);
    text-align: center;
    width: 100%;
    justify-content: center;
    display: flex !important;
    flex-direction: column;
  }
  header .container.active .block ul {
    padding: 0;
    margin: 0 0 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  header .container.active .block ul li {
    list-style: none;
    margin: 20px;
  }
  header .container.active .block ul li a {
    color: black;
    font-size: 25px;
  }
  header .container.active .block a {
    margin-left: 0;
  }
  .sec2 {
    padding: 60px 0 45px;
  }
  .sec2 h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
  }
  .sec2 .block {
    width: 100%;
    flex-direction: column;
  }
  .sec2 .block .item {
    width: 100%;
    margin-bottom: 0px !important;
    padding-bottom: 25px;
  }
  .sec2 .block .item:nth-last-child(-n+2) {
    display: none;
  }
  .sec2 .block .item .t2 {
    display: flex;
    align-items: center;
  }
  .sec2 .block .item .t2 span {
    display: none;
  }
  .sec2 .block .item .t2 .tt1 {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 0px;
  }
  .sec2 .block .item .t2 .tt2 {
    display: none;
  }
  .sec3 {
    padding: 0px;
  }
  .sec3 h2 {
    font-size: 24px;
  }
  .sec3 span {
    display: none;
  }
  .sec3 .block {
    flex-direction: column;
    margin: 40px 0;
  }
  .sec3 .block .item {
    width: 100%;
    padding: 0px;
    border: none;
  }
  .sec3 .block .item:nth-last-child(-n+2) {
    display: none;
  }
  .sec3 .block .item button {
    width: 100%;
    height: 60px;
  }
  .sec3 .block .item button:hover {
    border: none;
  }
  .sec4 .block .item .tab {
    border: none;
  }
  .sec4 .swiper-pagination {
    display: block;
  }
  .sec4 .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 150px 12px;
  }
  .sec4 .swiper-pagination swiper-pagination-clickable swiper-pagination-bullets {
    bottom: 29%;
    left: 42%;
  }
  .sec4 .swiper-pagination-clickable .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #333333;
    transform: rotate(-90deg);
    margin-right: 17px;
  }
  .sec4 .swiper-pagination-bullet-active::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: -8px;
    left: -8px;
    border-radius: 50%;
    border: 2px solid #fed100;
  }
  .sec4 .swiper-pagination-bullet {
    opacity: inherit;
  }
  .sec4 .pagin {
    display: none;
  }
  .sec4 .truck-slider .swiper-slide .img p {
    display: block;
    font-size: 18px;
    line-height: 15px;
    text-align: center;
  }
  .sec4 .truck-slider .swiper-slide .img button {
    display: block;
    width: 292px;
    height: 60px;
    background: #FED100;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 75px auto;
  }
  .sec4 .truck-slider {
    width: 100%;
    position: relative;
  }
  .sec4 .truck-slider .img {
    width: 100%;
  }
  .sec4 .block .item .tab.active {
    border: none;
    border-bottom: 1px solid #FED100;
  }
  .sec4 .block .item .tab {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }
  .sec4 .h {
    display: none;
  }
  .sec4 .v {
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin: 40px 0;
  }
  .sec4 .txt {
    display: none;
  }
  .sec5 {
    padding: 60px 0;
  }
  .sec5 h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
  }
  .sec5 .block {
    margin-top: 40px;
  }
  .sec5 .block .item:nth-last-child(-n+2) {
    display: none;
  }
  .sec5 .block .item .name {
    font-weight: 500;
  }
  .sec5 .block .item .t2 {
    margin: 10px 0 24px;
  }
  .sec5 .show-more {
    width: 100%;
    height: 60px;
  }
  .sec6 {
    padding-right: 9px;
    padding: 60px 0;
  }
  .sec6 .container .form form .ibtn {
    padding: 0px;
  }
  .sec6 .container {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
  .sec6 .container h2 {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
  }
  .sec6 .container h2 br {
    display: block;
  }
  .sec6 .container .form {
    width: 100%;
    display: flex;
  }
  .sec6 .container .form form {
    flex-direction: column;
    width: 100%;
  }
  .sec6 .container .form form .ibtn {
    padding: 55px 0 0;
  }
  .sec6 .container .form form .inpb {
    width: 100%;
    padding-bottom: 35px;
  }
  .sec6 .container .form form .e {
    display: none;
  }
  .sec6 .container .form form button {
    width: 100%;
    height: 60px;
  }
  .sec6 .container .form form button:before {
    display: none;
  }
  .sec7 {
    flex-direction: column;
  }
  .sec7 iframe {
    position: relative;
    height: 524px;
  }
  .sec7 .block {
    width: 100%;
    height: 100%;
    margin: 0px;
  }
  .sec7 .block .item {
    margin: 45px 0px 30px 30px;
    padding: 0px;
  }
  .sec7 .block .logo,
  .sec7 .block .social,
  .sec7 .block li img {
    display: none;
  }
  footer {
    height: 730px;
  }
  footer .tel {
    display: none;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container .item1 {
    margin: 60px 0 46px;
    text-align: center;
  }
  footer .container .item1 a {
    padding-top: 30px;
  }
  footer .container .item2 {
    text-align: center;
  }
  footer .container .item3 {
    margin: 35px 0 20px;
  }
  footer .container .item3 .icon {
    padding-bottom: 20px;
  }
  footer .container .item4 {
    width: 100%;
  }
  footer .container .item4 button {
    height: 60px;
    width: 100%;
  }
  footer .container .item4 button .a {
    display: none;
  }
  footer .container .item4 button .b {
    display: block;
  }
}
@media (max-width: 320px) {
  header,
  section,
  footer {
    width: 320px !important;
  }
}
